@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:wght@300&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:wght@700;900&family=Smooch&display=swap');



.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.5)),
      url("../public/pic.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      /* position: absolute; */
      
}

.home-text{
  margin: auto;
  color: whitesmoke;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 4rem;
}

.header-text_2{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size:3rem ;
  line-height: 70px;
}

.arrow-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size:1.5rem ;
  margin-left: 15px;
  
}

.animate-text {
    display: none;
}

.text-in{
  display: inline-block;
  animation:  TextIn .5s ease;
}

.Learn-box{
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.arrow{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  border-color: whitesmoke;
  line-height: 40px;
  pointer-events:none;
}

.arrow a {
  /* display: block; */
  width: 100%;
  height: 100%;
  font-size: 30px;
  text-decoration: none;
  border-color: whitesmoke;
  color: whitesmoke;
}

@keyframes  TextIn {
  0%{
    transform: translateY(30%);
  }
  100%{
    transform: translateY(0%);
  }
  
}
